@charset "utf-8";
/*!
 *Copyright www.amujz.com
 *Contact liwsen@sina.com
 *Date 2013-3-12
 */
/* CSS Document */
/*Global*/
html,body,div,span,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, abbr,address,cite,code, del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var, b,i, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td, article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary, time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display:block;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
abbr,acronym{border:0;}
ins {background-color:#ff9;color:#333;text-decoration:none;}
mark{background-color:#ff9;color:#333;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted #333;cursor:help;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
body {line-height:1;color:#333;font:12px/180% SimSun,Arial;}
:focus{outline:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;hide-focus: expression_r(this.hideFocus=true);/* for ie 5+ */star:expression(this.onFocus=this.blur());/*for Ie*/outline: none;/*for firefox 1.5 + */}

.NoDisplay{display:none;}
.Clear{height:0px;font:0px/0px SimSun,Arial;clear:both;}
.Clear.Dashed{ border-bottom:1px dashed #DDD;}
.Width_992{width:992px;margin:0 auto;}
.Width_960{width:960px;margin:0 auto;}
.MarginB_10{margin-bottom:10px;}
.MarginB_20{margin-bottom:20px;}
.Ellipsis,
.Ellipsis p,
.Ellipsis li{word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*Frame*/
*[class^=Col_]{margin:0;padding:0 5px;overflow:hidden;display:inline;float:left;position:relative;}
.Row{margin:0 -5px;display:inline-block;}
.Col_1,.Width_1{width:52px;}
.Col_2,.Width_2{width:114px;}
.Col_3,.Width_3{width:176px;}
.Col_4,.Width_4{width:238px;}
.Col_5,.Width_5{width:300px;}
.Col_6,.Width_6{width:362px;}
.Col_7,.Width_7{width:424px;}
.Col_8,.Width_8{width:486px;}
.Col_9,.Width_9{width:548px;}
.Col_10,.Width_10{width:610px;}
.Col_11,.Width_11{width:672px;}
.Col_12,.Width_12{width:734px;}
.Col_13,.Width_13{width:796px;}
.Col_14,.Width_14{width:858px;}
.Col_15,.Width_15{width:920px;}
.Col_16,.Width_16{width:982px;}

div[data-width]{margin:0;padding:0;overflow:hidden;display:inline;float:left;position:relative;}
.Width_960 .Col_1,.Width_1{width:50px;}
.Width_960 .Col_2,.Width_2{width:110px;}
.Width_960 .Col_3,.Width_3{width:170px;}
.Width_960 .Col_4,.Width_4{width:230px;}
.Width_960 .Col_5,.Width_5{width:290px;}
.Width_960 .Col_6,.Width_6{width:350px;}
.Width_960 .Col_7,.Width_7{width:410px;}
.Width_960 .Col_8,.Width_8{width:470px;}
.Width_960 .Col_9,.Width_9{width:530px;}
.Width_960 .Col_10,.Width_10{width:590px;}
.Width_960 .Col_11,.Width_11{width:650px;}
.Width_960 .Col_12,.Width_12{width:710px;}
.Width_960 .Col_13,.Width_13{width:770px;}
.Width_960 .Col_14,.Width_14{width:830px;}
.Width_960 .Col_15,.Width_15{width:890px;}
.Width_960 .Col_16,.Width_16{width:950px;}

/*Form*/
input[type='text'],input[type='password'],input[type='tel'],input[type='url'],input[type='email'],
input[type='reset'],input[type='submit'],input[type='button'],
textarea{height:18px; border:1px solid #BBB; padding:6px 8px; margin:4px; font:14px/18px Microsoft YaHei,Arial; color:#999; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; box-shadow:2px 2px 3px #DDD; -moz-box-shadow:2px 2px 3px #DDD; -webkit-box-shadow:2px 2px 3px #DDD;}
input[type='text'].Hover,input[type='password'].Hover,input[type='tel'].Hover,input[type='url'].Hover,input[type='email'].Hover,
textarea.Hover{background-color:#FFD;}
input[type='text'].Focus,input[type='password'].Focus,input[type='tel'].Focus,input[type='url'].Focus,input[type='email'].Focus,
textarea.Focus{color:#333; background-color:#FFB; border-color:#0AF;}
input[type='text'].Null,input[type='password'].Null,input[type='tel'].Null,input[type='url'].Null,input[type='email'].Null,
textarea.Null{border-color:#F90;}
input[type='text'].Error,input[type='password'].Error,input[type='tel'].Error,input[type='url'].Error,input[type='email'].Error,
textarea.Error{border-color:#F00;}
input[type='file']{}
input[type='reset'],input[type='submit'],input[type='button']{font:bold 16px/18px Arial, Helvetica, sans-serif; height:36px; padding:0 12px; border-color:#999; color:#333; cursor:pointer; background-color:#EEE;}
input[type='reset']:hover,input[type='submit']:hover,input[type='button']:hover{border-color:#F60;}
input[class^='But_']{color:#FFF;}
input[class^='But_']:hover{border-color:#FFF;}
input.But_Blue{background-color:#06C;}
input.But_Green{background-color:#090;}
input.But_Orange{background-color:#F80;}
input.But_Black{background-color:#333;}
input.NoStyle{padding:0;margin:0;border:none;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
textarea{ line-height:24px; min-height:2em; width:100%;}

div.InputSelect{ display:inline; float:left; margin-right:6px; position:relative;}
div.InputSelect .Def{ display:block; border:1px solid #BBB; padding:6px 22px 6px 10px; margin:4px; font:14px/18px Microsoft YaHei,Arial; color:#999; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; box-shadow:2px 2px 3px #DDD; -moz-box-shadow:2px 2px 3px #DDD; -webkit-box-shadow:2px 2px 3px #DDD; background-image:url(../../images/selcetjt.gif); background-position:right center; background-repeat:no-repeat;}
div.InputSelect:hover .Def{ background-color:#FFB; cursor:default;}

div.InputSelect .ThisSun{ max-height:200px; overflow:hidden; overflow-y:auto; display:none; position:absolute; left:4px; top:33px; padding:5px 0; border:1px solid #09F; background:#F4FCFF; border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px;}
div.InputSelect .ThisSun p{ padding:3px 20px 3px 10px; min-width:60px; font:13px/18px Microsoft YaHei,Arial, Helvetica, sans-serif; border-bottom:1px dashed #DDD; cursor:pointer; color:#666; word-break:keep-all;white-space:nowrap; text-overflow:ellipsis;}
div.InputSelect .ThisSun p:hover{ background:#D1E9F5;}

/*Form FormStyle*/
.FormStyle input[type='text'],.FormStyle input[type='password'],.FormStyle input[type='tel'],.FormStyle input[type='url'],.FormStyle input[type='email'],
.FormStyle input[type='reset'],.FormStyle input[type='submit'],.FormStyle input[type='button']{box-shadow:1px 1px 0 #FFF;-moz-box-shadow:1px 1px 0 #FFF;-webkit-box-shadow:1px 1px 0 #FFF;}

/*Table*/
table{ border:1px solid #CCC; margin-bottom:6px; box-shadow:0 0 4px #DDD; -moz-box-shadow:0 0 4px #DDD; -webkit-box-shadow:0 0 4px #DDD;}
table tr{}
table tr th,
table tr td{ border-left:1px solid #CCC; border-top:1px solid #CCC; padding:6px 12px; background:#FAFAFA;}
table tr > *:first-child{ border-left:none;}
table tr:irst-line td,
table tr:irst-line th{ border-top:none;}
table tr th{ background:#EEE;}

table.Default{ border:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
table.Default tr{}
table.Default tr th,
table.Default tr td{ border:none; background:none;}
table.Default tr th{background:none;}

/*DEMO*/
	/*NavList_Row*/
ul.NavList_Row{min-height:36px;margin-bottom:20px;}
ul.NavList_Row li{min-height:36px;text-align:center;float:left;display:inline;}
ul.NavList_Row li.NavLine{width:1px;padding:0;margin:0;background:#CCC;overflow:hidden;}
ul.NavList_Row li a{display:block;min-width:80px; padding:6px 0;text-decoration:none;}
	/*Search*/
	/*PageList*/
ul.PageList { height:40px; padding:30px 20px; cursor:default; line-height:32px; font-size:14px; color:#787878;}
ul.PageList.PageRight { float:right;}
ul.PageList li { font-weight:bold; float:left; margin:0 4px; display:inline;}
ul.PageList li.ThisPage,
ul.PageList li a{ float:left; padding:5px 8px; border:1px solid #A9AAE2; line-height:20px; color:#333;}
ul.PageList li.ThisPage { color:#FFF; background:#0099CB; border-color:#0099CB; font-size:14px;}
ul.PageList li a:hover{ color:#F30; border-color:#F36;}
	/*ArcList*/
	/*ImgList*/
	/*Box_EEE*/
.Box_EEE,
.Box_EEE2{border:1px solid #FFF;background-color:#EEE;box-shadow:0 0 3px #888;-moz-box-shadow:0 0 3px #888;-webkit-box-shadow:0 0 3px #888;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.Box_EEE2{border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}

/*CSS3 Html5*/
	/*Radius 3*/
.B_Radius_3,.B_Radius_TL_3{border-top-left-radius:3px;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;}
.B_Radius_3,.B_Radius_TR_3{border-top-right-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;}
.B_Radius_3,.B_Radius_BL_3{border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;}
.B_Radius_3,.B_Radius_BR_3{border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;}
	/*Radius 5*/
.B_Radius_5,.B_Radius_TL_5{border-top-left-radius:5px;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;}
.B_Radius_5,.B_Radius_TR_5{border-top-right-radius:5px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;}
.B_Radius_5,.B_Radius_BL_5{border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;}
.B_Radius_5,.B_Radius_BR_5{border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;}
	/*Radius 9*/
.B_Radius_9,.B_Radius_TL_9{border-top-left-radius:9px;-moz-border-radius-topleft:9px;-webkit-border-top-left-radius:9px;}
.B_Radius_9,.B_Radius_TR_9{border-top-right-radius:9px;-moz-border-radius-topright:9px;-webkit-border-top-right-radius:9px;}
.B_Radius_9,.B_Radius_BL_9{border-bottom-left-radius:9px;-moz-border-radius-bottomleft:9px;-webkit-border-bottom-left-radius:9px;}
.B_Radius_9,.B_Radius_BR_9{border-bottom-right-radius:9px;-moz-border-radius-bottomright:9px;-webkit-border-bottom-right-radius:9px;}
	/*Shadow 3*/
.B_Shadow_2{box-shadow:1px 1px 2px #BBBBBB;-moz-box-shadow:1px 1px 2px #BBBBBB;-webkit-box-shadow:1px 1px 2px #BBBBBB;}
	/*Shadow 5*/
.B_Shadow_4{box-shadow:2px 2px 4px #BBBBBB;-moz-box-shadow:2px 2px 4px #BBBBBB;-webkit-box-shadow:2px 2px 4px #BBBBBB;}
	/*T_Shadow 2*/
.T_Shadow_2{text-shadow:1px 1px 2px #999999;}
.T_Shadow_2_2{text-shadow:1px 1px 2px #FFFFFF;}
	/*T_Shadow 3*/
.T_Shadow_3{text-shadow:2px 2px 3px #999999;}
.T_Shadow_3_2{text-shadow:2px 2px 3px #FFFFFF;}
	/*Gradient*/
.Gradient{
	background-image:-moz-linear-gradient(top,#DDDDDD,#FFFFFF);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#DDDDDD),color-stop(1,#FFFFFF));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD',endColorstr='#FFFFFF',GradientType='0');
}
.Gradient_Gray{
	background-image:-moz-linear-gradient(top,#F6F6F6,#DDDDDD);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#F6F6F6),color-stop(1,#DDDDDD));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F6',endColorstr='#DDDDDD',GradientType='0');
}
.Gradient_Blue{
	background-image:-moz-linear-gradient(top,#0076F9,#003973);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#0076F9),color-stop(1,#003973));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076F9',endColorstr='#003973',GradientType='0');
}
.Gradient_Green{
	background-image:-moz-linear-gradient(top,#31A212,#205500);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#31A212),color-stop(1,#205500));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#31A212',endColorstr='#205500',GradientType='0');
}
.Gradient_Orange{
	background-image:-moz-linear-gradient(top,#FF9F00,#CC6600);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FF9F00),color-stop(1,#CC6600));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9F00',endColorstr='#CC6600',GradientType='0');
}
/*Font*/
.F_F_songti{font-family:SimSun;}
.F_F_fangsong{font-family:FangSong;}
.F_F_heiti{font-family:SimHei;}
.F_F_kaiti{font-family:KaiTi;}
.F_F_yahei{font-family:Microsoft YaHei;}
.F_F_lishu{font-family:LiSu;}
.F_F_youyuan{font-family:YouYuan;}
.F_Size_2{font-size:2em;}
.F_Size_10{font-size:10px;}
.F_Size_12{font-size:12px;}
.F_Size_14{font-size:14px;}
.F_Size_16{font-size:16px;}
.F_Size_18{font-size:18px;}
.F_Size_20{font-size:20px;}
.F_Bold{font-weight:bold;}

/*Border*/
.Bor_999{border:1px solid #999;}
.Bor_CCC{border:1px solid #CCC;}
.Bor_DDD{border:1px solid #DDD;}
.Bor_EEE{border:1px solid #EEE;}
.Bor2_999{border:1px dashed #999;}
.Bor2_CCC{border:1px dashed #CCC;}
.Bor2_DDD{border:1px dashed #DDD;}
.Bor2_EEE{border:1px dashed #EEE;}

/*Color*/
.Color_F00{ color:#F00;}
.Color_F36{ color:#F36;}
.Color_06C{ color:#06C;}
.Color_9C0{ color:#9C0;}