@charset "utf-8";
/*!
 *Copyright www.amujz.com
 *Contact liwsen@sina.com
 *Date 2013-10-14
 */
/* CSS Document */

.LeftPanel{ position:absolute; left:0; top:0; width:195px; background-color:whiteSmoke; border-right:1px solid #E0E0E0; margin:0;}

.MainHeader{ height:90px; border-bottom:1px solid #DDD; position:absolute; position:fixed; left:196px; top:0; box-shadow:0 5px 5px rgba(250,250,250,0.7);}
.MainHeader .Title{ padding:5px 20px; background-color:#FAFAFB; border-bottom:1px solid #F2F2F2; color:#999; cursor:default;}
.MainHeader .Title a{ color:#069;}
.MainHeader .BtnList{ padding:12px 20px; box-sizing:border-box;}
.MainHeader .BtnList .right{ float:right; margin-top:12px; display:inline;}
.MainHeader .BtnList .right .sort{ float:left; padding-right:100px; position:relative;}
.MainHeader .BtnList .right .sort ul{ height:30px; overflow:hidden; margin:1px; position:absolute; width:80px; left:40px; top:-6px; border-radius:3px;-moz-border-radius:3px; -webkit-border-radius:3px;}
.MainHeader .BtnList .right .sort ul:hover{ height:auto; border:1px solid #DDD; margin:0px; background-color:#FFF;}
.MainHeader .BtnList .right .sort ul li{}
.MainHeader .BtnList .right .sort ul li a{ display:block; padding:4px 0 4px 20px; background:url(../images/file_jiantou.gif) no-repeat 4px 10px; color:#69A9CB;}
.MainHeader .BtnList .right .sort ul li a:hover{ background-color:#DEF3FF; background-position:4px -13px; color:#333;}
.MainHeader .BtnList .right .sort ul li a.desc{ background-position:4px -36px;}
.MainHeader .BtnList .right .sort ul li a.desc:hover{ background-position:4px -59px;}
.MainHeader .BtnList .display_mode{ float:left;}
.MainHeader .BtnList .display_mode span{ width:15px; height:13px; display:inline-block; background:url(../images/icon_list.png) no-repeat; text-indent:-999px; overflow:hidden; cursor:pointer; opacity:.5; filter:alpha(opacity=50);}
.MainHeader .BtnList .display_mode span:hover{opacity:1; filter:alpha(opacity=100);}
.MainHeader .BtnList .display_mode .tbText{}
.MainHeader .BtnList .display_mode .tbPic{ background-position:-30px 0;}

.MainPanel{ margin:90px 0 0 195px; overflow:hidden; overflow-y:auto; padding:20px; box-sizing:border-box;-moz-box-sizing:border-box; -webkit-box-sizing:border-box;}



.TypeList{}
.TypeList li{ margin:6px auto;}
.TypeList li.current{ background-color:#D6F0FF;}
.TypeList li a{ display:block; padding:10px 10px 8px 30px; font:16px/22px Microsoft YaHei, Arial, Helvetica, sans-serif; color:#454545;}
.TypeList li a:hover{ background-color:#D6F0FF;}
.TypeList li a span{ display:inline-block; vertical-align:middle;}



/***************************************************
            ##########- icon -##########
***************************************************/
.WangPan .icon,
.WangPan .icon2{ float:left; width:22px; height:22px; display:inline-block; background:url(../images/icon_type.png) no-repeat;}
.WangPan .icon2{ background:url(../images/icon_2.png) no-repeat;}

.WangPan .icon.icon_all{ background-position:-23px 2px; margin:0px 8px 0 2px;}
.WangPan .current .icon.icon_all{ background-position:0 2px;}
.WangPan .icon.icon_saft{ background-position:-23px -48px; margin:1px 8px 0 2px;}
.WangPan .current .icon.icon_saft{ background-position:0 -48px;}
.WangPan .icon.icon_share{ background-position:-23px -22px; margin:1px 8px 0 2px;}
.WangPan .current .icon.icon_share{ background-position:0 -22px;}
.WangPan .icon.icon_recycle{ background-position:-23px -73px; margin:1px 8px 0 2px;}
.WangPan .current .icon.icon_recycle{ background-position:0 -73px;}

.WangPan .icon.icon_upload{ background-position:0px -98px; margin:1px 8px 0 2px;}
.WangPan .icon.icon_new{ background-position:0px 3px; margin:1px 8px 0 2px;}
.WangPan .icon.icon_offline{ background-position:0px -235px; margin:1px 8px 0 2px;}


/***************************************************
            ##########- btn -##########
***************************************************/
.y_btn{
	-khtml-user-select: none;
	border-radius: 2px;
	color: #388FC9;
	cursor: pointer;
	display: inline-block;
	float:left;
	margin:0 5px;
	font-size: 12px;
	padding: 4px 16px;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.y_btn_blue{
	background-color: #35A1EB;
	background-image: -webkit-linear-gradient(bottom,#3B92CC,#4AA0DA 28%,#5BB0E9);
	background-image: -moz-linear-gradient(bottom,#3B92CC,#4AA0DA 28%,#5BB0E9);
	background-image: -o-linear-gradient(bottom,#3B92CC,#4AA0DA 28%,#5BB0E9);
	background-image: -ms-linear-gradient(bottom,#3B92CC,#4AA0DA 28%,#5BB0E9);
	background-image: linear-gradient(to top,#3B92CC,#4AA0DA 28%,#5BB0E9);
	border: solid 1px #3182B9;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, .1);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.1);
	box-shadow: inset 0 1px rgba(255, 255, 255, .1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bb0e9',endColorstr='#3b92cc',GradientType=0);
	color: white;
}
.y_btn_blue:hover{
	background-color: #35A1EB;
	background-image: -webkit-linear-gradient(bottom,#3DB5F5,#7AD1FF);
	background-image: -moz-linear-gradient(bottom,#3DB5F5,#7AD1FF);
	background-image: -o-linear-gradient(bottom,#3DB5F5,#7AD1FF);
	background-image: -ms-linear-gradient(bottom,#3DB5F5,#7AD1FF);
	background-image: linear-gradient(to top,#3DB5F5,#7AD1FF);
	border: solid 1px #3182B9;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, .19);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.19);
	box-shadow: inset 0 1px rgba(255, 255, 255, .19);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ad1ff',endColorstr='#3db5f5',GradientType=0);
}
.y_btn_gray {
	background-color: #F7F7F7;
	background-image: -webkit-linear-gradient(bottom,#F7F7F7,white);
	background-image: -moz-linear-gradient(bottom,#F7F7F7,white);
	background-image: -o-linear-gradient(bottom,#F7F7F7,white);
	background-image: -ms-linear-gradient(bottom,#F7F7F7,white);
	background-image: linear-gradient(to top,#F7F7F7,white);
	border: solid 1px #DDD;
	-webkit-box-shadow: inset 0 1px 1px white;
	-moz-box-shadow: inset 0 1px 1px #fff;
	box-shadow: inset 0 1px 1px white;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f7f7f7',GradientType=0);
}
.y_btn_gray:hover{
	background-color: #35A1EB;
	background-image: -webkit-linear-gradient(bottom,#DDF3FF,#F0FAFF);
	background-image: -moz-linear-gradient(bottom,#DDF3FF,#F0FAFF);
	background-image: -o-linear-gradient(bottom,#DDF3FF,#F0FAFF);
	background-image: -ms-linear-gradient(bottom,#DDF3FF,#F0FAFF);
	background-image: linear-gradient(to top,#DDF3FF,#F0FAFF);
	border: solid 1px #A2C5E1;
	-webkit-box-shadow: inset 0 1px 1px white;
	-moz-box-shadow: inset 0 1px 1px #fff;
	box-shadow: inset 0 1px 1px white;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0faff',endColorstr='#ddf3ff',GradientType=0);
}
.y_btn_back{
	background: url(../images/callback_bg.gif) no-repeat 0 0;
	float: left;
	font-size: 12px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	width: 59px;
	cursor:pointer; color:#388FC9;
}
.y_btn_back:hover{
	background-position: 0 -70px;
	position: relative;
	z-index: 1;
}


/***************************************************
            ##########- FileList-ul.list_pic -##########
***************************************************/
.FileList{}
.FileList ul li.listtitle{ display:none; background-color:#EEE;}
.FileList ul.list_text li.listtitle{ display:block; font-weight:bold;}
.FileList ul.list_pic{}
.FileList ul.list_pic li{ width:122px; height:140px; margin:4px 3px; float:left; cursor:default;}
.FileList ul.list_pic li.active,
.FileList ul.list_pic li.hover,
.FileList ul.list_pic li:hover{ background:url(../images/pic_bg.png) no-repeat;}
.FileList ul.list_pic li.hover{ background-position:0 0;}
.FileList ul.list_pic li.active{ background-position:-123px 0;}
.FileList ul.list_pic li .column_checkbox{ display:none;}
.FileList ul.list_pic li .column_name{}
.FileList ul.list_pic li.folder .column_name{ padding-top:7px;}
.FileList ul.list_pic li .column_name .icon{ width:82px; height:73px; float:left; display:block; margin:14px 20px; clear:both;}
.FileList ul.list_pic li .column_name .text{ width:110px; height:30px; float:left; display:block; margin:0 6px; text-align:center;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.FileList ul.list_pic li .column_name .text:hover{ color:#F30; text-decoration:underline; cursor:pointer;}
.FileList ul.list_pic li .column_name .text input{ width:108px; border:1px solid #DDD; padding:0; margin:0; font-size:12px;}
.FileList ul.list_pic li .column_size{ display:none;}
.FileList ul.list_pic li .column_time{ display:none;}

ul.list_pic li .column_name .icon{ background:url(../images/file_apk.png) no-repeat 0 -79px;}
.FileList ul.list_pic li.file_torrent .column_name .icon{ background-position:0 0px;}
.FileList ul.list_pic li.file_apk .column_name .icon{ background-position:0 -158px;}

.FileList ul.list_pic li.folder .column_name .icon{ width:84px; height:66px; margin:16px19px;}
ul.list_pic li.folder .icon{ background:url(../images/file_folder.png) no-repeat 0 -228px;}
ul.list_pic li.folder.file_pic .icon{ background-position:0 -532px;}
ul.list_pic li.folder.file_bookmarks .icon{ background-position:0 0;}
ul.list_pic li.folder.file_yun .icon{ background-position:0 -76px;}
ul.list_pic li.folder.file_text .icon{ background-position:0 -152px;}
ul.list_pic li.folder.file_phone .icon{ background-position:0 -304px;}
ul.list_pic li.folder.file_other .icon{ background-position:0 -380px;}
ul.list_pic li.folder.file_music .icon{ background-position:0 -456px;}
ul.list_pic li.folder.file_movie .icon{ background-position:0 -608px;}

.FileList ul.list_pic li.office .column_name .icon{}
ul.list_pic li.office .icon{ background:url(../images/file_doc.png) no-repeat 0 0;}
ul.list_pic li.office.office_doc .icon{ background-position:0 0px;}
ul.list_pic li.office.office_pdf .icon{ background-position:0 -79px;}
ul.list_pic li.office.office_ppt .icon{ background-position:0 -158px;}
ul.list_pic li.office.office_txt .icon{ background-position:0 -237px;}
ul.list_pic li.office.office_excel .icon{ background-position:0 -316px;}

.FileList ul.list_pic li.package .column_name .icon{}
ul.list_pic li.package .icon{ background:url(../images/file_7z.png) no-repeat 0 0;}
ul.list_pic li.package.package_7z .icon{ background-position:0 0px;}
ul.list_pic li.package.package_cab .icon{ background-position:0 -79px;}
ul.list_pic li.package.package_iso .icon{ background-position:0 -158px;}
ul.list_pic li.package.package_rar .icon{ background-position:0 -237px;}
ul.list_pic li.package.package_zip .icon{ background-position:0 -316px;}

.FileList ul.list_pic li.images .column_name .icon{}
ul.list_pic li.images .icon{ background:url(../images/file_ai.png) no-repeat 0 0;}
ul.list_pic li.images.images_ai .icon{ background-position:0 0px;}
ul.list_pic li.images.images_bmp .icon{ background-position:0 -79px;}
ul.list_pic li.images.images_cdr .icon{ background-position:0 -158px;}
ul.list_pic li.images.images_gif .icon{ background-position:0 -237px;}
ul.list_pic li.images.images_ico .icon{ background-position:0 -316px;}
ul.list_pic li.images.images_jpeg .icon{ background-position:0 -395px;}
ul.list_pic li.images.images_jpg .icon{ background-position:0 -474px;}
ul.list_pic li.images.images_png .icon{ background-position:0 -553px;}
ul.list_pic li.images.images_psd .icon{ background-position:0 -632px;}
ul.list_pic li.images.images_webp .icon{ background-position:0 -711px;}

.FileList ul.list_pic li.media .column_name .icon{}
ul.list_pic li.media .icon{ background:url(../images/file_ape.png) no-repeat 0 0;}
ul.list_pic li.media.media_ape .icon{ background-position:0 0px;}
ul.list_pic li.media.media_avi .icon{ background-position:0 -79px;}
ul.list_pic li.media.media_flv .icon{ background-position:0 -158px;}
ul.list_pic li.media.media_mkv .icon{ background-position:0 -237px;}
ul.list_pic li.media.media_mov .icon{ background-position:0 -316px;}
ul.list_pic li.media.media_mp3 .icon{ background-position:0 -396px;}
ul.list_pic li.media.media_mp4 .icon{ background-position:0 -475px;}
ul.list_pic li.media.media_mpeg .icon{ background-position:0 -554px;}
ul.list_pic li.media.media_mpg .icon{ background-position:0 -634px;}
ul.list_pic li.media.media_rm .icon{ background-position:0 -714px;}
ul.list_pic li.media.media_rmvb .icon{ background-position:0 -794px;}
ul.list_pic li.media.media_swf .icon{ background-position:0 -874px;}
ul.list_pic li.media.media_wav .icon{ background-position:0 -953px;}
ul.list_pic li.media.media_webm .icon{ background-position:0 -1032px;}
ul.list_pic li.media.media_wma .icon{ background-position:0 -1111px;}
ul.list_pic li.media.media_wmv .icon{ background-position:0 -1190px;}

.FileList ul.list_pic li.program .column_name .icon{}
ul.list_pic li.program .icon{ background:url(../images/file_access.png) no-repeat 0 0;}
ul.list_pic li.program.program_access .icon{ background-position:0 0px;}
ul.list_pic li.program.program_c .icon{ background-position:0 -79px;}
ul.list_pic li.program.program_cpp .icon{ background-position:0 -158px;}
ul.list_pic li.program.program_cs .icon{ background-position:0 -237px;}
ul.list_pic li.program.program_fla .icon{ background-position:0 -316px;}
ul.list_pic li.program.program_htm .icon{ background-position:0 -395px;}
ul.list_pic li.program.program_html .icon{ background-position:0 -474px;}
ul.list_pic li.program.program_java .icon{ background-position:0 -553px;}
ul.list_pic li.program.program_log .icon{ background-position:0 -632px;}
ul.list_pic li.program.program_mht .icon{ background-position:0 -711px;}
ul.list_pic li.program.program_php .icon{ background-position:0 -790px;}
ul.list_pic li.program.program_url .icon{ background-position:0 -869px;}
ul.list_pic li.program.program_xml .icon{ background-position:0 -949px;}


/***************************************************
            ##########- FileList-ul.list_text -##########
***************************************************/
.FileList{}
.FileList ul.list_text{}
.FileList ul.list_text li{ height:42px; line-height:42px; border-bottom:1px solid #F1F1F1; overflow:hidden; cursor:default;}
.FileList ul.list_text li.active,
.FileList ul.list_text li.hover,
.FileList ul.list_text li:hover{ background-color:#E4F4FF; border-bottom:1px solid #D2E7F6;}
.FileList ul.list_text li.hover{}
.FileList ul.list_text li.active{ background-color:#CCEAFF; border-bottom:1px solid #AFD8F4;}
.FileList ul.list_text li .column_checkbox{ float:left;}
.FileList ul.list_text li .column_checkbox label{background:url(../images/checkbox.png) no-repeat 0 0;cursor: pointer;display: block;font-size: 0;height: 14px;line-height: 0;margin-top: 13px;margin-left: 8px;overflow: hidden;width: 14px;}
.FileList ul.list_text li.active .column_checkbox label{ background-position:0 -14px;}
.FileList ul.list_text li .column_name{ float:left; width:65%;}
.FileList ul.list_text li .column_name .icon{ width:32px; height:30px; float:left; display:block; margin:6px; overflow:hidden;}
.FileList ul.list_text li .column_name .text{ height:42px; margin-left:10px; float:left; display:block; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.FileList ul.list_text li .column_name .text:hover{ color:#F30; text-decoration:underline; cursor:pointer;}
.FileList ul.list_text li .column_size{ width:13%; float:left; color:#999;}
.FileList ul.list_text li .column_time{ width:15%; float:left; color:#999;}

ul.list_text li .column_name .icon{ background:url(../images/s_file_apk.png) no-repeat 0 -76px;}
.FileList ul.list_text li.file_torrent .column_name .icon{ background-position:0 -38px;}
.FileList ul.list_text li.file_apk .column_name .icon{ background-position:0 0;}

.FileList ul.list_text li.folder .column_name .icon{}
ul.list_text li.folder .icon{ background:url(../images/s_file_folder.png) no-repeat 0 -114px;}
ul.list_text li.folder.file_pic .icon{ background-position:0 -308px;}
ul.list_text li.folder.file_bookmarks .icon{ background-position:0 0;}
ul.list_text li.folder.file_yun .icon{ background-position:0 -155px;}
ul.list_text li.folder.file_text .icon{ background-position:0 -38px;}
ul.list_text li.folder.file_phone .icon{ background-position:0 -194px;}
ul.list_text li.folder.file_other .icon{ background-position:0 -232px;}
ul.list_text li.folder.file_music .icon{ background-position:0 -270px;}
ul.list_text li.folder.file_movie .icon{ background-position:0 -346px;}

.FileList ul.list_text li.office .column_name .icon{}
ul.list_text li.office .icon{ background:url(../images/s_file_doc.png) no-repeat 0 0;}
ul.list_text li.office.office_doc .icon{ background-position:0 0px;}
ul.list_text li.office.office_pdf .icon{ background-position:0 -32px;}
ul.list_text li.office.office_ppt .icon{ background-position:0 -64px;}
ul.list_text li.office.office_txt .icon{ background-position:0 -96px;}
ul.list_text li.office.office_excel .icon{ background-position:0 -128px;}

.FileList ul.list_text li.package .column_name .icon{}
ul.list_text li.package .icon{ background:url(../images/s_file_7z.png) no-repeat 0 0;}
ul.list_text li.package.package_7z .icon{ background-position:0 0px;}
ul.list_text li.package.package_cab .icon{ background-position:0 -32px;}
ul.list_text li.package.package_iso .icon{ background-position:0 -64px;}
ul.list_text li.package.package_rar .icon{ background-position:0 -96px;}
ul.list_text li.package.package_zip .icon{ background-position:0 -128px;}

.FileList ul.list_text li.images .column_name .icon{}
ul.list_text li.images .icon{ background:url(../images/s_file_ai.png) no-repeat 0 0;}
ul.list_text li.images.images_ai .icon{ background-position:0 0px;}
ul.list_text li.images.images_bmp .icon{ background-position:0 -32px;}
ul.list_text li.images.images_cdr .icon{ background-position:0 -64px;}
ul.list_text li.images.images_gif .icon{ background-position:0 -96px;}
ul.list_text li.images.images_ico .icon{ background-position:0 -128px;}
ul.list_text li.images.images_jpeg .icon{ background-position:0 -162px;}
ul.list_text li.images.images_jpg .icon{ background-position:0 -196px;}
ul.list_text li.images.images_png .icon{ background-position:0 -228px;}
ul.list_text li.images.images_psd .icon{ background-position:0 -260px;}
ul.list_text li.images.images_webp .icon{ background-position:0 -162px;}

.FileList ul.list_text li.media .column_name .icon{}
ul.list_text li.media .icon{ background:url(../images/s_file_ape.png) no-repeat 0 0;}
ul.list_text li.media.media_ape .icon{ background-position:0 0px;}
ul.list_text li.media.media_avi .icon{ background-position:0 -38px;}
ul.list_text li.media.media_flv .icon{ background-position:0 -76px;}
ul.list_text li.media.media_mkv .icon{ background-position:0 -114px;}
ul.list_text li.media.media_mov .icon{ background-position:0 -152px;}
ul.list_text li.media.media_mp3 .icon{ background-position:0 -190px;}
ul.list_text li.media.media_mp4 .icon{ background-position:0 -228px;}
ul.list_text li.media.media_mpeg .icon{ background-position:0 -266px;}
ul.list_text li.media.media_mpg .icon{ background-position:0 -304px;}
ul.list_text li.media.media_rm .icon{ background-position:0 -342px;}
ul.list_text li.media.media_rmvb .icon{ background-position:0 -380px;}
ul.list_text li.media.media_swf .icon{ background-position:0 -418px;}
ul.list_text li.media.media_wav .icon{ background-position:0 -456px;}
ul.list_text li.media.media_webm .icon{ background-position:0 -494px;}
ul.list_text li.media.media_wma .icon{ background-position:0 -532px;}
ul.list_text li.media.media_wmv .icon{ background-position:0 -571px;}

.FileList ul.list_text li.program .column_name .icon{}
ul.list_text li.program .icon{ background:url(../images/s_file_access.png) no-repeat 0 0;}
ul.list_text li.program.program_access .icon{ background-position:0 0px;}
ul.list_text li.program.program_c .icon{ background-position:0 -38px;}
ul.list_text li.program.program_cpp .icon{ background-position:0 -76px;}
ul.list_text li.program.program_cs .icon{ background-position:0 -114px;}
ul.list_text li.program.program_fla .icon{ background-position:0 -152px;}
ul.list_text li.program.program_flv .icon{ background-position:0 -190px;}
ul.list_text li.program.program_htm .icon{ background-position:0 -228px;}
ul.list_text li.program.program_html .icon{ background-position:0 -266px;}
ul.list_text li.program.program_java .icon{ background-position:0 -304px;}
ul.list_text li.program.program_log .icon{ background-position:0 -342px;}
ul.list_text li.program.program_mht .icon{ background-position:0 -380px;}
ul.list_text li.program.program_php .icon{ background-position:0 -418px;}
ul.list_text li.program.program_url .icon{ background-position:0 -456px;}
ul.list_text li.program.program_xml .icon{ background-position:0 -494px;}


/***************************************************
            ##########- alertBox -##########
***************************************************/

.mask{ display:none; background:#000;filter:alpha(opacity:30);opacity:.3; position:absolute; position:fixed; left:0; top:0; width:100%; z-index:99998;}
.alertBox{ display:none; width:600px; height:450px; position:absolute; position:fixed; left:50%; top:50%; margin:-225px 0 0 -300px; z-index:99999; overflow:hidden;}
.alertBox dl{ overflow:hidden; border:1px solid #9BB8D2; border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.alertBox dl dt{ padding:0 10px; height:32px; font:14px/32px Microsoft YaHei, Arial, Helvetica, sans-serif; cursor:default; color:#FFF; background:url(../images/icon_3.gif) repeat-x 0 0;}
.alertBox dl dt span{ float:right;}
.alertBox dl dt span i{ margin:5px 0 0 3px; width:21px; height:22px; float:left; background:url(../images/icon_3.gif) no-repeat; cursor:pointer;}
.alertBox dl dt span i.close{ background-position:center -152px;}
.alertBox dl dt span i.close:hover{ background-position:center -104px;}
.alertBox dl dt span i.small{ background-position:center -174px;}
.alertBox dl dt span i.small:hover{ background-position:center -130px;}
.alertBox dl dd{ background:#FFF; overflow:hidden; overflow-y:auto;}
.alertBox dl dd .Tips{ background:#FFFDED; padding:4px 10px; text-align:center; border-top:1px solid #FBDF85; border-bottom:1px solid #FBDF85; color:#666;}
.alertBox dl dd .alertBody{ padding:16px;}

.FileTop{ line-height:30px; color:#999;}
.FileBtns{ position:relative; width:95px; height:30px; float:left;}
.FileBtns:hover .Files{ display:block;}
.FileBtn{display: block;height:30px;width:81px; padding:0; margin:0;overflow: hidden;position: relative; font:14px/30px Microsoft YaHei, Arial, Helvetica, sans-serif; text-align:center;}
.FileBtn input{cursor: pointer;display: block;font-size: 30px;height: 30px;left: -136px;filter:alpha(opacity:0);opacity:0;position: absolute;}
.Files{ display:none; position:absolute; left:0; top:32px; border:1px solid #CCC; background:#FFF;}
.Files span{ float:none; border-bottom:1px solid #CCC;}
.Files span:hover{ background:#06C; color:#FFF;}
.FileBottom{ text-align:right;}
.UploadListBox{ height:250px; margin:12px auto; color:#999; border:1px solid #DDD;}
.DragTip{ text-align:center; margin-top:90px;}
.DragTip h1{ font-size:20px; font-weight:400;}
.DragTip p{ font:12px/24px Microsoft YaHei, Arial, Helvetica, sans-serif;}

.BoxTip{ margin:40px 0 20px 70px; height:38px; padding-left:40px; background:url(../images/attention.png) no-repeat; font:20px/32px Microsoft YaHei, Arial, Helvetica, sans-serif;}
.BoxTip p{ font-size:14px; color:#333; line-height:18px;}
.BoxTip p+p{ font-size:12px; color:#BBB;}
.BoxTip p strong{ color:#F00;}
.alertBtn{ text-align:center;}
.alertBtn input{ float:none;}

/***************************************************
            ##########- jqContextMenu -##########
***************************************************/
#jqContextMenu ul li{ background-image:url(../images/icon_1.gif); background-repeat:no-repeat;}
#jqContextMenu ul li#open{ background-position:5px -623px;}
#jqContextMenu ul li#download{ background-position:7px -86px;}
#jqContextMenu ul li#delete{ background-position:5px -56px;}
#jqContextMenu ul li#rename{ background-position:5px 8px;}
#jqContextMenu ul li#move{ background-position:5px -26px;}
#jqContextMenu ul li#moveinfile{ background-position:3px -883px;}
#jqContextMenu ul li#link{ background-position:5px -174px;}
